body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.3em;
    line-height: 1.4em;
    margin: 0;
    }
    
    h1{
        font-size: 2rem;
        line-height: 1.3em;
        text-shadow: 3px 3px 4px black;
    }
    
    p{
        margin-bottom: 1.6em;
    }
    
    .container{
        width: 85%;
        max-width: 850px;
        margin: 0 auto;
    }
    
    
    
    /*Clase para poder modificar las letras del logo*/
    .logo{
        letter-spacing: 2px;
        font-size: 1.83em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    
    /* HEADER */
    .encabezado{
        background: linear-gradient(to top, rgb(190, 94, 94), rgb(10, 10, 10));
        
        color: rgb(255, 255, 255);
        padding: 4rem 0;
    
        /* PARA QUE ESTE FIJA EN LA PARTE SUPERIOR*/
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
    
    }
    
    .main{
        padding-top: 15rem;
    }
    
    .navegacion ul {
        margin: 0;
        padding: 0;
        list-style: none; /* Es para que no salga la bolita a una lado*/
    }
    
        .navegacion ul li{
            display: inline-block;
        }
    
            .navegacion ul li a{
                display: block;
                padding: 0.5rem 1rem;
                transition: all 0.5s linear; /*Para que el hover tenga tiempo de transicion*/
                border-radius: 1em;
            }
    
                .navegacion ul li a:hover{
                    background: rgb(216, 86, 86);
                    font-size: 21px;
                    letter-spacing: 3px;
                }
    
    .navegacion a{
        color: black;
        text-decoration: none;
    }