*{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}
h1{
    padding-top: 15%;
    color: rgb(0, 0, 0);

}


#cuerpo{
    margin: auto ;
    background-image: url(https://th.bing.com/th/id/OIP.QkWdlbQnAIpJUqn6BNXmEAHaEo?w=308&h=192&c=7&r=0&o=5&pid=1.7);
    width: 900px;
    height: 1200px;
    
    
}
#cabecera{
    background-color:#284e39 ;
    background-image: url(/img/imagenHearder.jpeg);
    text-align: center;
    border-radius: 10px;
    height: 15%;
}
#navegacion{
    margin: 0 auto;
    text-align: center;
    height: 5%;
    background-color: #713505;
    border-radius: 10px;
}
    #imagen1{
    margin-left: 4%;
    
   }
   #imagenes2{
    margin-bottom: 4%;
   } 
   #imagen1{
       
       display: block ;
       padding: 1px;
       display: inline-block;
   }

#seccion{
    height: 69%;
    background-color: #309638;
    border: 2px solid #080808;
    border-radius: 10px;
}


#pie{
    margin-top: 200px;
    height: 2%;
    background-color: #5fd69f;
    color: white;
    text-align: center;
    
}
p{
    font-size: 20px;
    width: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#parrafo2{
    height: 5px;
   
   margin-left: 550px;
}

li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1em;
    outline: none;
    text-decoration: none;
}
a{
    outline: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    
}

#titulo{
    font-size: 1cm;
    font-family: cursive;
}