* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: arial;
    background-image: url('bg.png');
    background-color: #000000;
  }
  
  .seccion {
    width: 400px;
    height: 300px;
    background: #702929;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px rgb(253, 253, 253);
    padding: 20px 30px;
    border-top: 4px solid #eb6f6f;
    color: rgb(255, 255, 255);
  }
  
  .seccion h1 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
  }
  
  .control {
    width: 100%;
    border: 1px solid #ffffff;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #ffffff;
    font-size: 14px;
    font-weight: bold;
  }
  
  .buttons {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
  }
  
  .seccion p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
  }
  
  .seccion a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .seccion a:hover {
    text-decoration: underline;
  }