body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: rgb(0, 0, 0);
    font-size: 13px;
    background-color: rgb(90, 43, 43);
}

.contenedor{
    display:inline-block;
    text-align: center;
    height: auto;
    width: 43%;
    padding: 2em;
}

.principal{
    background-color: rgb(182, 108, 108);
    margin: auto;
    margin-top: 1.5em;
    width:  950px;
    height: 895px;
    box-shadow: 1px 1px 10px black;
    border-radius: 3em;
}

.formularios{
    display: inline-block;
    width: 45%;
    height: 550px;
    margin-left: 1em;
    margin-right: 1em;

}

.botones{
    margin: auto;
    margin-top: 1em;
    text-align: center;
}

.pie{
    text-align: center;
}

h1{
    text-align: center;
    
}

h3{
    display: flex;
    margin-left: 1em;
}

label{
   color: black;
   font-size: 15px;
}
