body{
    background-color: #fdffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
}

h1{
    font-size: 24px;
}

select{
    width: 100%;
    text-align: center;
}

input{
    float: right;
    width: 200px;
}

.anchura{
    width: 100%;
    margin: 0 auto;
    
}

.principal{
    background-color: rgb(216, 125, 125);    
    width: 750px;
    height: 350px ;
    margin: auto;
    margin-top: 1em;
    box-shadow: 0px 0px 15px rgb(187, 19, 19);
    border-width: 4px;
    border-radius: 15px;
}

.encabezado{
    background-color: #8ed0d6;
    border-bottom: 3px solid rgb(0, 0, 0);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 35px;
}

.seccion{
    height: 250px;
}


.seccion1{
    display:inline-block;
    width: 50%;
    height: 100%;
}

.seccion1 div{
    text-align: center;
    margin-top: 3em;
}

.botones{
    margin-top: 1em;
    margin-left: 12.5em;
}